.footer, 
.footer .image {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .image {
  width: 100%;
  border-radius: 0px;
}
@media only screen and (max-width: 991px) {
  .footer .image {
    height: 20%;
  }
}